{{define "nav"}}
    <nav>
        <div>
            {{template "nav-link" (props "Link" "/" "Text" "Home")}}
            {{template "nav-link" (props "Link" "/about" "Text" "About")}}
        </div>
    </nav>
{{end}}
