{{define "nav"}}
    <nav>
        {{template "nav-link" (props "Link" "/" "Text" "Home" "Classes" "home")}}
        {{template "nav-link" (props "Link" "/about" "Text" "About" "Classes" "")}}
    </nav>
{{end}}
