/*
    Does some CSS resetting to help the styling look more consistent across different browsers/operating systems.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5vh;
    min-height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
